version: 2.1

parameters:
  param-a:
    type: string
    default: "current"
    description: "somedescription"
  another-param:
    type: boolean
    default: false
  os:
    default: "linux"
    description: The target Operating System for the heroku binary. Must be one of "linux", "darwin", "win32".
    type: enum
    enum: ["linux", "darwin", "win32"]

jobs:
  hello-job:
    docker:
      - image: cimg/node:17.2.0 # the primary container, where your job's commands are run
    steps:
      - checkout # check out the code in the project directory
      - run: echo "hello world" << pipeline.parameters.param-a >> # run the `echo` command
  hello-job2:
    docker:
      - image: cimg/node:17.2.0 # the primary container, where your job's commands are run
    steps:
      - run:
          name: Simulate long build
          command: |
            echo "Starting build at $(date)"
            echo "This would be your actual build steps..."
            sleep 120
            echo "Build completed at $(date)"
      - checkout # check out the code in the project directory
      - run: echo "hello world 2" << pipeline.parameters.param-a >> # run the `echo` command
  hello-job3:
    docker:
      - image: cimg/node:17.2.0 # the primary container, where your job's commands are run
    steps:
      - run:
          name: shallow clone
          command: |
            echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
            git clone --depth 1 "git@github.com:kl-oauth-org/testing-merge-queues.git" --branch "main" /home/circleci/project
      - run:
          name: Simulate long build
          command: |
            echo "Starting build at $(date)"
            echo "This would be your actual build steps..."
            sleep 120
            echo "Build completed at $(date)"
      - checkout # check out the code in the project directory
      - run: echo "hello world 2" << pipeline.parameters.param-a >> # run the `echo` command
  hello-job4:
    docker:
      - image: cimg/node:17.2.0 # the primary container, where your job's commands are run
    steps:
      - run:
          name: Simulate long build
          command: |
            echo "Starting build at $(date)"
            echo "This would be your actual build steps..."
            sleep 120
            echo "Build completed at $(date)"
      - checkout # check out the code in the project directory
      - run: echo "hello world 2" << pipeline.parameters.param-a >> # run the `echo` command

workflows:
  my-workflow:
    jobs:
      - hello-job:
          filters:
            tags:
              only:
                - /.*/
      - hello-job2:
          requires:
            - hello-job
          filters:
            tags:
              only:
                - /.*/
      - hello-job3:
          requires:
            - hello-job2
          filters:
            tags:
              only:
                - /.*/
      - hello-job4:
          requires:
            - hello-job
          filters:
            tags:
              only:
                - /.*/

